body {
  background-image: url('HomePageBG.gif');
    background-size: cover;
    
  
    
    height: 100vh;
    padding:0;
    margin:0;
}

h3{
	position: absolute;
	top: 30%;
	left: 30%;
	width: 600px;
	height: 100px;
	color: #9d8189;
	
  }
  .button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
	position: absolute;
	background-color: #ffcad4;
	top: 60%;
	left: 35%;
	z-index: 30;
} 

.button2 {background-color: #f4acb7;
position: absolute;
	top: 60%;
	left: 48%;
z-index: 30;
} 
.button3 {background-color: #d8e2dc;
position: absolute;
	top: 60%;
	left: 59%;
z-index: 30;
} 
h1{
position: absolute;
	width: 600px;
	height: 150px;
	left: 30%;
	top: 50%;
	background-color: #ffe5d9;
	text-align: center;  
z-index: 20;

}

