

html, body {
  background-image: url('Relax.gif');
    background-size: cover;
    
  
    
    height: 100vh;
    padding:0;
    margin:0;

  .slides, & > .dg {
    display: none;
  }
  .button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}
}
}

